@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Seaweed+Script&display=swap');

:root {
    --ff-1: 'Kaushan Script', cursive;
    --ff-2: 'Seaweed Script', cursive;

    --color-1: #2d3647;
    --bg-color-1: #fff4eb;
}

.logo {
    font-family: var(--ff-1);
}

.header-logo {
    font-size: 6rem;
    color: var(--color-1);
}

body {
    background: var(--bg-color-1);
}