{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block header %}
<h1 class="header-logo logo">Kekkonmi</h1>
<h5>Please Sign Up or Log In to View Your Profile</h5>
{% endblock %} {% block content%}
<div class="row">

  <!-- Left Side 2/3 Column -->
  <div class="col-12 col-lg-8 order-1 order-lg-0">

    {% for post in posts %}
    <!-- Card -->
    <div class="card mt-3">
      <div class="row g-0">
        <!-- IMG -->
        <div class="col-md-4">
          <img class="card-img-top" src="{{ post.image }}" alt="sheraton" />
        </div>
        <!-- End IMG -->
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle">Urayasu, Chiba</h6>
            <p class="card-text">{{ post.body }}</p>
            
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->
    {% endfor %}
    
  </div>
  <!-- End Left -->

  <!-- Right Side 1/3 column -->
  <div class="col-12 col-lg-4 order-0 order-lg-1">
    
    <!-- Card -->
    <div class="position-sticky top-0">
      <div class="card mt-3">
        <div class="card-header">Search</div>
        <div class="card-body">
          <!-- Form -->
          <form action="">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Search Term..">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>
    <!-- End Card -->
    
  </div>
  <!-- End Right -->
</div>
{% endblock %}
